/* .alert{
    padding: 1rem;
    border: 0.1 solid transparent;
    border: 0.5rem;
}

.alert-info{
    color: blue;
    background-color: cornsilk;
}
.alert-error{
    color: rgb(255, 42, 42);
    background-color: rgb(226, 150, 150);
} */